<label class="form-control w-full">
  @if (label) {
    <span class="label-text mb-1">{{ label }}</span>
  }
  <select
    class="select select-bordered w-full"
    [ngModel]="value"
    (ngModelChange)="onValueChange($event)"
    [disabled]="disabled"
  >
    <option value="">{{ placeholder }}</option>
    @for (entity of entities; track entity[idKey]) {
      <option [value]="entity[idKey] != null ? entity[idKey].toString() : ''">
        {{ entity[nameKey] }}
      </option>
    }
  </select>

</label>
