<div class="min-h-screen flex items-center justify-center  px-4">
  <form
    class="card   text-neutral p-8 rounded-box shadow-xl w-full max-w-sm space-y-6 transition-colors"
    (ngSubmit)="onReset()"
  >
    <div class="flex justify-center">
      <img src="assets/logo.svg" alt="Logo" class="w-14 h-14 rounded-xl" />
    </div>

    <h2 class="text-2xl font-bold text-center text-primary">
      {{ 'reset_password.title' | translate }}
    </h2>

    <input
      [(ngModel)]="token"
      name="token"
      type="text"
      [placeholder]="'reset_password.token_placeholder' | translate"
      class="form-input"
      required
    />

    <input
      [(ngModel)]="newPassword"
      name="newPassword"
      type="password"
      [placeholder]="'reset_password.new_password_placeholder' | translate"
      class="form-input"
      required
    />

    <button
      type="submit"
      [disabled]="loading"
      class="btn btn-primary w-full btn"
    >
      {{ loading ? ('reset_password.loading' | translate) : ('reset_password.submit' | translate) }}
    </button>

    @if(error) {
      <div class="text-error text-center text-sm">{{ error }}</div>
    }

    @if(message) {
      <div class="text-success text-center text-sm">{{ message }}</div>
    }

    <div class="text-right">
      <a
        routerLink="/security/login"
        class="link link-primary text-sm hover:text-[var(--color-primary)]"
      >
        {{ 'reset_password.back_to_login' | translate }}
      </a>
    </div>
  </form>
</div>
