<div class="drawer drawer-end z-50" *ngIf="isVisible()">
  <input id="drawer-form" type="checkbox" class="drawer-toggle" checked />
  <div class="drawer-content"></div>

  <div class="drawer-side" [attr.key]="key">
    <label for="drawer-form" class="drawer-overlay" (click)="close()"></label>
    <div class="bg-base-100 w-[32rem] min-h-full p-6 space-y-6 shadow-xl rounded-l-2xl">
      <div class="flex justify-between items-center">
        <button class="btn btn-sm btn-circle btn-ghost" (click)="close()">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
        <h3 class="text-2xl font-bold text-primary ml-4 flex-1">{{ title }}</h3>
        @if (editMode) {
        <a
          class="btn btn-sm btn-circle btn-primary flex items-center justify-center"
          [routerLink]="editLink"
          title="Modifier en plein écran">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M8 3H5a2 2 0 0 0-2 2v3m0 8v3a2 2 0 0 0 2 2h3m8 0h3a2 2 0 0 0 2-2v-3m0-8V5a2 2 0 0 0-2-2h-3" />
          </svg>
        </a>
        } @else {
          <a
            class="btn btn-sm btn-circle btn-primary flex items-center justify-center"
            [routerLink]="addLink"
            title="Ajouter en plein écran">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M8 3H5a2 2 0 0 0-2 2v3m0 8v3a2 2 0 0 0 2 2h3m8 0h3a2 2 0 0 0 2-2v-3m0-8V5a2 2 0 0 0-2-2h-3" />
            </svg>
          </a>
        }
      </div>

    <form [formGroup]="form" (ngSubmit)="submit()" class="space-y-4">
        @for (field of fields; track field.name) {
          @if(field.name !='id'){
          <div>
            <label class="label mb-1 ">
              <span class="label-text">{{ field.displayName || field.name }}</span>
              @if(!field.nullable ){
                <span class="text-error">
                              *
                            </span>
              }
            </label>
            @switch(field.entityType) {
              @case('Date') {
                <input
                  type="datetime-local"
                  class="input input-bordered w-full"
                  [formControlName]="field.name"
                  [placeholder]="field.displayName"
                />
              }
              @case('Boolean') {
                <label class="label cursor-pointer gap-3">
                  <input type="checkbox" class="toggle toggle-primary m-4" [formControlName]="field.name" />
                </label>
              }
              @default {
                @if (field.relation === 'manyToOne') {
                  <app-entity-picker
                    [entities]="getEntities(field.name)"
                    [label]="''"
                    [placeholder]="'Choisir ' + (field.displayName || field.name)"
                    idKey="id"
                    nameKey="name"
                    [formControlName]="field.name"
                    class="mb-4"
                  />
                } @else {
                  <input
                    type="text"
                    class="input input-bordered w-full"
                    [formControlName]="field.name"
                    [placeholder]="field.displayName"
                  />
                }
              }
            }
          </div>
        }
        }

      @if(hasFiles){
        <div class="form-control">
          <label class="label mb-1">
            <span class="label-text">Fichiers</span>
          </label>
          <app-multi-file-input
            [files]="files"
            (filesChange)="files = $event"
          />
        </div>
      }


      <div class="flex justify-between">
          @if (editMode) {
            <button type="button" class="btn btn-sm btn-outline" (click)="delete.emit(itemId)">
              🗑️ Supprimer
            </button>
          }
          <button type="submit" class="btn btn-sm btn-primary" [disabled]=form.invalid >
            {{ submitLabel }}
          </button>
        </div>
      </form>

      @if(isFileManager && editMode) {
        <div class="flex flex-col   p-6 bg-base-100 rounded-2xl shadow-xl  ">
          <div class="flex flex-col gap-3">
            <app-file-viewer
              [file]="form.getRawValue()"
            />
          </div>
        </div>
      }

      @if(fileManagers && fileManagers.length > 0 && editMode) {
        <div class="flex flex-col   p-6 bg-base-100 rounded-2xl shadow-xl  ">
          <div class="flex flex-col gap-3">
            @for (file of fileManagers; track file.name) {
              <app-file-viewer
                [file]="file"
              />
            }
          </div>
        </div>

      }

    </div>
  </div>
</div>
