<div class="drawer drawer-end z-50" *ngIf="isVisible()">
  <input id="drawer-form" type="checkbox" class="drawer-toggle" checked />
  <div class="drawer-content"></div>

  <div class="drawer-side" [attr.key]="key">
    <label for="drawer-form" class="drawer-overlay" (click)="close()"></label>
    <div class="bg-base-100 w-[32rem] min-h-full p-6 space-y-6 shadow-xl rounded-l-2xl">
      <div class="flex items-center">
        <button class="btn btn-sm btn-circle btn-ghost" (click)="close()">✕</button>
        <h3 class="text-2xl font-bold text-primary ml-4">{{ title }}</h3>
      </div>

      <form [formGroup]="form" (ngSubmit)="submit()" class="space-y-4">
        @for (field of fields; track field.name) {
          @if(field.name !='id'){
          <div>
            <label class="label mb-1 ">
              <span class="label-text">{{ field.displayName || field.name }}</span>
            </label>
            @switch(field.entityType) {
              @case('Date') {
                <input
                  type="datetime-local"
                  class="input input-bordered w-full"
                  [formControlName]="field.name"
                  [placeholder]="field.displayName"
                />
              }
              @case('Boolean') {
                <label class="label cursor-pointer gap-3">
                  <input type="checkbox" class="toggle toggle-primary m-4" [formControlName]="field.name" />
                </label>
              }
              @default {
                @if (field.relation === 'manyToOne') {
                  <app-entity-picker
                    [entities]="getEntities(field.name)"
                    [label]="''"
                    [placeholder]="'Choisir ' + (field.displayName || field.name)"
                    idKey="id"
                    nameKey="name"
                    [formControlName]="field.name"
                    class="mb-4"
                  />
                } @else {
                  <input
                    type="text"
                    class="input input-bordered w-full"
                    [formControlName]="field.name"
                    [placeholder]="field.displayName"
                  />
                }
              }
            }
          </div>
        }
        }
        <div class="flex justify-between">
          @if (editMode) {
            <button type="button" class="btn btn-sm btn-outline" (click)="delete.emit(itemId)">
              🗑️ Supprimer
            </button>
          }
          <button type="submit" class="btn btn-sm btn-primary" [disabled]=form.invalid >
            {{ submitLabel }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
