<div class="flex   items-center gap-3 w-full">


  <label class="form-control  w-full">
    <select
      [(ngModel)]="searchField"
      (ngModelChange)="onSearchFieldChange($event)"
      class="select select-md select-bordered w-full"
      aria-label="Champ de recherche"
    >
      @for (f of fields; track f.name) {
        <option [value]="f.name">{{ f.displayName }}</option>
      }
    </select>
  </label>

  @if (selectedType === 'boolean' || selectedType === 'checkbox') {
    <label class="form-control max-w-xs w-full flex items-center gap-3">
      <input
        type="checkbox"
        class="toggle toggle-primary"
        [checked]="searchTerm === 'true'"
        (change)="onSearchTermChange(($any($event.target).checked ? 'true' : 'false'))"
        aria-label="Valeur "
      />
      <span>
      {{ searchTerm === 'true' ? 'Oui' : 'Non' }}
    </span>
    </label>
  }

  @else if (selectedType === 'date' || selectedType === 'datetime-local' || selectedType === 'time') {
    <label class="form-control max-w-xs w-full">
      <input
        type="date"
        [(ngModel)]="searchTerm"
        (ngModelChange)="onSearchTermChange($event)"
        class="input input-md input-bordered w-full"
        aria-label="Date de recherche"
        #searchInput
      />
    </label>
  } @else {
    <label class="form-control max-w-xs w-full">
      <input
        type="text"
        [(ngModel)]="searchTerm"
        (ngModelChange)="onSearchTermChange($event)"
        (keyup.enter)="emitSearch()"
        placeholder="Recherche..."
        class="input input-md input-bordered w-full"
        aria-label="Recherche texte"
        #searchInput
      />
    </label>
  }

  <div class="flex gap-2">

    <button class="btn btn-sm btn-ghost text-error" aria-label="Effacer la recherche" (click)="emitClear()">
      ✕
    </button>
    <button class="btn btn-sm btn-outline" aria-label="Lancer la recherche" (click)="emitSearch()">
      Rechercher
    </button>
  </div>


  <div class="tooltip">
    <div class="tooltip-content">
      <div class="animate-bounce   font-black">

        <div class="flex  ">
          <kbd class="kbd kbd-sm">⌘</kbd>
          <kbd class="kbd kbd-sm">+</kbd>
          <kbd class="kbd kbd-sm">F</kbd>

          Pour  faire une recherche
        </div>

      </div>
    </div>
    <button class="btn">?</button>
  </div>
</div>
